@media (max-width: 1024px) {
    
    .left-blok {
        flex-direction: column;
        align-items: center;
    }
    .image-block .meeting {
        width: 70%;
    }
    
    .first-block {
        flex-wrap: wrap;
       ;
    }
    .second-block {
        flex-wrap: wrap;
        
    }
}

@media (max-width: 800px) {




    
}